body {
	  background-color: #0d0c0d;
	  font-family: 'Lato', sans-serif;
	  font-size: 16px;
	  color: #ffffff;
	  line-height: 25px;

 }

 header{
 	background-color:grey; 
 	position: relative;
 	z-index: 15;
  	vertical-align: middle;
 	padding: 170px 30px;
 	background-image: url(../images/geek.jpg); 
 	background-repeat: no-repeat;
 	background-position: center bottom;
 	background-size: cover;
 	
}
h2{
	font-family: Raleway;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h1{
	font-size: 60px;
	font-weight: 700;
	letter-spacing: -3px;
}

h2{
	font-size: 35px;
	font-weight: 400;
	letter-spacing: -1px;
}

.btn.btn-lg-custom {
	background-color: #db1521;
	box-shadow:0 3px 0 #ac111a;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #ffffff;
	border-radius:3px;
}



 .intro {
 max-width: 960px;
 margin:0 auto;
 padding:8% 0;
 text-align: center;

}


 }

div.intro{
text-align: center;
margin-top: 250px;
background-color: grey;
}

h1.intro{
	font-size: 150px;
	font-weight: 700;
	letter-spacing: -4px;
}

footer{
	padding-top: 70px;
	padding-bottom: 50px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
footer
{
    text-align:center;
    position: fixed;
    bottom:0;
    width:100%;
    display:inline-block;
    vertical-align:top;
    font-size:13px;
}